zope.testrunner==4.4.3
sh==1.11
tempita==0.5.2
pyev==0.9.0
zodb==4.0.1
gpodder==3.8.4
simplegeneric==0.8.1
pylast==0.5.11
subdownloader==2.0.18
docs-pdf-a4==3.0.1
frescobaldi==2.0.16
dogpile.core==0.4.1
msgpack-python==0.4.6
zope.proxy==4.1.4
odfpy==0.9.6
graph-tool==2.2.42
svg2tikz==1.0.0
robotframework-selenium2library==1.6.0
gunicorn==19.1.0
django_evolution==0.6.9
robotframework-ride==1.2.3
pycosat==0.6.0
Logbook==0.4.2
boto==2.38.0
geventhttpclient==1.2.0
plover==2.5.8
sorl-thumbnail==11.12
pyramid_jinja2==2.5
itsdangerous==0.24
setuptools-darcs==1.2.9
graphite_beacon==0.22.1
pydns==2.3.6
ptyprocess==0.5
pypi2nix==1.0_04a68d8577acbceb88bdf51b1231a9dbdead7003
lxml==3.3.6
pybfd==0.1.1
humanize==0.5.1
Twiggy==0.4.5
pyramid_beaker==0.7
urlwatch==1.18
cov-core==1.15.0
oauth2client==1.4.12
ipython==4.0.0
pep257==0.3.2
mailchimp==2.0.9
zodb3==3.11.0
bepasty-server==0.4.0
wokkel==0.7.0
funcy==1.4
pyrex==0.9.6.4
gateone-1.2==0d57c3
pkginfo==1.2.1
qrcode==5.1
pyopenssl==0.14
psutil==2.1.1
docs-pdf-a4==3.1.5
Beaker==1.6.4
watchdog==0.8.3
pyserial==2.7
pync==1.4
apsw-3.7.6.2==r1
bugzilla==1.1.0
pyptlib==0.0.6
docs-pdf-letter==3.0.1
robomachine==0.6
httpauth==0.2
upass==0.1.4
flask==0.10.1
FlexGet==1.2.337
veryprettytable==0.8.1
zope.exceptions==4.0.5
azure==0.11.0
iso8601==0.1.10
mpmath==0.19
poppler-qt4==0.18.1
texttable==0.8.1
urwid==1.3.0
circus==0.11.1
pycarddav==0.7.0
mmpython==0.4.10
genshi==0.7
structlog==0.4.2
certifi==14.05.14
python-msrplib==0.17.0
percol==0.0.8
googlecl==0.9.14
vobject==0.8.1c
docopt==0.6.2
gspread==0.2.3
inginious==0.3a2.dev0
zope.location==4.0.3
tox==1.8.1
tissue==0.9.2
rpkg==1.14
dnspython==1.12.0
path.py==7.6
pyaudio==0.2.4
wxPython==2.8.12.1
fs==0.5.0
funcsigs==0.4
blinker==1.3
docs-pdf-letter==3.3.0
nose-cover3==0.1.0
jsonpatch==1.11
dateutil==2.1
Twisted==11.1.0
demjson==1.6
numpy==1.10.1
nibabel==2.0.1
qtconsole==4.0.1
Django==1.3.7
nevow==0.10.0
pyramid_tm==0.10
logster==7475c53822
rdflib==4.1.2
zc.buildout-nix==2.4.3
tarsnapper==0.2.1
pyspotify==1.12
semantic==1.0.3
xray==0.6.0
PyYAML==3.11
pyparsing==2.0.1
XStatic-jQuery-File-Upload==9.7.0.1
irclib==0.4.8
bitstring==3.1.2
ReviewBoard==1.6.16
ddar==1.0
google-api-python-client==1.2
rtmidi==0.3a
filebrowser_safe==0.3.6
zope.broken==3.6.0
epc==0.0.3
pykka==1.2.0
pyramid_multiauth==0.3.2
pydot==1.0.2
ocropus==20150316
docs-text==3.0.1
pylibacl==0.5.1
nameparser==0.3.4
pbr==1.6.0
openpyxl==2.2.4
redis==2.9.1
greenlet==0.4.7
funcparserlib==0.3.6
cgroup-utils==0.6
rsa==3.1.4
beautifulsoup==3.2.1
pgpdump==1.5
django-reversion==1.8.5
sphinxcontrib-httpdomain==1.3.0
musicbrainzngs==0.5
SocksiPy-branch==1.01
screenkey-0.2==b3634a2c6eb6d6936c3b2c1ef5078bf3a84c40c6
avro3k-1.7.7==SNAPSHOT
offtrac==0.1.0
notebook==4.0.5
electrum==2.5.1
fudge==0.9.6
pyacoustid==1.1.0
zope.publisher==3.12.6
venusian==1.0
grappelli_safe==0.3.13
suds==0.4
le==1.4.13
searx==0.7.0
natsort==4.0.0
batinfo==0.2
responses==0.4.0
gcs-oauth2-boto-plugin==1.8
parsedatetime==1.4
mitmproxy==0.10.1
Skype4Py==1.0.32.0
detox==0.9.3
netifaces==0.10.4
fuse==0.2.1
canto-curses==0.9.6
pyqtgraph==0.9.10
logilab-astng==0.24.3
tvrage==0.4.1
smmap==0.8.2
odo==0.3.3
actdiag==0.5.3
sphinx_rtd_theme==0.1.8
args==0.1.0
extras==0.0.3
rencode==git20150810
construct==2.5.2
docs-text==3.2.3
pygit2==0.23.1
nose2==0.5.0
nipype==0.10.0
Django==1.4.22
zope.schema==4.4.2
taskw==1.0.3
simplejson==3.3.0
appdirs==1.4.0
pyxattr==0.5.1
apipkg==1.4
deskcon==0.3
xmltodict==0.9.2
subunit==1.0.0
mopidy-spotify==1.4.0
django-classy-tags==0.6.1
pyramid_mailer==0.13
docs-pdf-letter==2.7.3
pyreport==0.3.4c
ofxtools==0.3.8
pytest-quickcheck==0.8.2
gdbm==2.7.10
ipy==0.74
configparser==3.3.0r2
httplib2==0.9.1
pexpect==3.3
cssselect==0.9.1
larch==1.20131130
iniparse==0.4
ipdb==0.8.1
mopidy-moped==0.6.0
testscenarios==0.4
Paver==1.2.2
zope.lifecycleevent==3.7.0
SQLAlchemy==1.0.6
sexpdata==0.0.2
hgsvn==0.3.5
pgcli==0.19.2
attrdict==2.0.0
nbxmpp==0.5.3
gsutil==4.6
pymysqlsa==1.0
Jinja2==2.7.3
kitchen==1.1.1
peppercorn==0.5
dulwich==0.10.1a
zope.sqlalchemy==0.7.5
pylibconfig2==0.2.4
zope.component==4.2.1
pyasn1==0.1.8
configobj==5.0.6
gitfs==0.2.5
blockdiag==1.4.7
zope.container==4.0.0
smartdc==0.1.12
muttils==1.3
simpleldap==0.8
cryptacular==1.4.1
willow==0.2.1
zope.i18n==3.8.0
xdot==0.6
alembic==0.7.6
random2==1.0.1
websocket_client==0.32.0
setuptools-trial==0.5.12
protobuf==2.5.0
setuptools==18.2
goobook==1.9
elasticsearch-dsl==0.0.8
box2d==2.3b0
waitress==0.8.9
ipython_genutils==0.1.0
eyeD3==0.7.8
uncertainties==2.4.6.1
mimms==3.2
Django==1.7.10
pytz==2015.4
bcdoc==0.14.0
transaction==1.4.3
slixmpp==1.0.post5
pyrex==0.9.5.1.1
ldap==2.4.19
rainbowstream==1.2.7
pathtools==0.1.2
gplaycli==0.1.2
requests==1.2.3
jsonwatch==0.2.0
gmvault-1.8.1==beta
m2crypto==0.21.1
docs-html==3.0.1
s3ql==2.13
django-tagging==0.3.1
slowaes==0.1a1
pygtk==2.24.0
plumbum==1.5.0
glances==2.4.2
tables==3.2.2
zc.lockfile==1.0.2
datashape==0.4.7
MySQL-python==1.2.5
routes==1.12.3
mock==1.0.1
moretools==0.1a41
neovim==0.0.38
svg.path==2.0b1
pycryptopp==0.6.0.1206569328141510525648634803928199668821045408958
semantic_version==2.4.2
zodbpickle==0.5.2
afew==1.0_9744c18c4d6b0a3e7f57b01e5fe145a60fc82a47
Pillow==2.9.0
gmpy2==2.0.6
udiskie==1.1.2
infoqscraper==0.1.0
seqdiag==0.9.4
isodate==0.5.0
zope.contenttype==4.0.1
roman==2.0.0
pytest-pep257==0.0.1
spambayes==1.1b1
gdrivefs==0.14.3
nbconvert==4.0.0
readline==2.7.10
pickleshare==0.5
repoze.lru==0.6
pysqlite==2.6.3
translationstring==1.3
txamqp==0.3
Chameleon==2.15
mox==0.5.3
zope.event==4.0.3
importmagic==0.1.3
pyramid_exclog==0.7
facebook-sdk==0.4.0
Djblets==0.6.28
pysocks==1.5.0
ipdbplugin==1.4
atomicwrites==0.1.0
trollius==1.0.4
html2text==2014.12.29
cffi==0.8.6
cliapp==1.20140719
libthumbor==1.2.0
psycopg2==2.5.4
dateutil==1.5
jsonpointer==1.9
influxdb==0.1.12
Django==1.6.11
django-taggit==0.17.0
futures==3.0.2
zope.traversing==4.0.0
ujson==1.33
xcffib==0.3.2
scipy==0.16.1
syncserver==1.5.0
ofxparse==0.14
ddt==1.0.0
zope.copy==4.0.2
toposort==1.1
backports.lzma==0.0.3
html5lib==0.999
smartypants==1.8.6
Wand==0.3.5
guessit==0.9.4
httpbin==0.2.0
stevedore==1.7.0
ghp-import==0.4.1
livestreamer==1.12.2
pies2overrides==2.6.5
polylint==158125c6ab
wtforms==2.0.2
pathlib==1.0.1
pyfeed==0.7.4
oauth2==1.5.211
kombu==3.0.24
blaze==0.8.2
chardet==2.1.1
pagerduty==0.2.1
dot2tex==2.9.0
apt-offline==1.3
ndg-httpsclient==0.4.0
polib==1.0.4
pymetar==0.20
characteristic==14.1.0
basiciw==0.2.2
ovh==0.3.5
ipaddr==2.1.10
cornice==0.17.0
feedparser==5.1.3
konfig==0.9
faker==0.0.4
coverage==3.7.1
docs-text==2.7.3
graphite-web==0.9.12
nototools-git-2015-09==16
pytest-cache==1.0
umemcache==1.6.3
backports.ssl_match_hostname==3.4.0.2
zope.browserresource==4.0.1
zfec==1.4.24
j2cli-0.3.1==0
docs-html==3.1.5
pyrtlsdr==0.2.0
dnspython3==1.12.0
i3-py==0.6.4
keyring==3.3
python-mimeparse==0.1.4
ipykernel==4.0.3
rednotebook==1.8.1
nixpart==1.0.0
Flask-Cache==0.13.1
python-magic==0.4.6
ranger==1.7.1
llfuse==0.40
loxodo==0.20150124
jellyfish==0.5.0
tokenserver==1.2.11
docker-registry==0.9.1
hg-crecord==5cfaabfe9cb9f0a0d6837956d73127f290a213be
bpython==0.12
ipaddress==1.0.7
pystache==0.5.4
Unidecode==0.04.18
grequests==0.2.0
cassandra-driver==2.6.0c2
alot==0.3.6
rope==0.10.2
mathics==0.8
subprocess32==3.2.6
more-itertools==2.2
bedup==20140413
Django==1.8.4
flup==1.0.2
nbformat==4.0.1
dugong==3.5
feedgenerator==1.7
ZEO==4.0.0
mpi4py==1.3.1
python-jenkins==0.4.5
setuptools-git==1.1
zope.i18nmessageid==4.0.3
beautifulsoup4==4.1.3
zc.buildout==1.7.1
mwlib==0.15.15
docs-pdf-letter==3.2.3
memory_profiler==0.27
dtopt==0.1
qserve==0.2.8
mnemosyne==2.3.2
usbtmc==0.6
pafy==0.4.1
EasyProcess==0.1.9
runsnakerun==2.0.4
minimock==1.2.8
pep8==1.6.2
paste-deploy==1.5.2
limnoria==20130327
netlib==0.10
mailnag==1.1.0
zc.buildout==2.2.1
pyramid_chameleon==0.3
pyflakes==1.0.0
tmdb3==0.6.17
statsd==3.2.1
python==gnutls
moinmoin==1.9.7
Sphinx-PyPI-upload==0.2.1
Werkzeug==0.9.6
clint==0.4.1
nosejs==0.9.4
notify==0.1.1
virtualenvwrapper==4.3
djangorestframework==3.2.3
mutagen==1.27
thumbor-pexif==0.14
pretend==1.0.8
python-notmuch==0.20.2
gprof2dot-2015-04==27
hypatia==0.3
webob==1.4.1
python-application==1.5.0
ropemacs==0.7
eggdeps==0.4
oauth==1.0.1
oslosphinx==3.1.0
beautifulsoup4==4.4.0
aiodns==0.3.2
pies==2.6.5
tokenlib==0.3.1
persistent==4.0.8
six==1.9.0
hcs_utils==1.5
supervisor==3.1.1
carrot==0.10.7
docs-html==3.2.3
testtools==0.9.34
nosexcover==1.0.10
jbrout==338
pyudev==0.16.1
bitbucket-api==0.4.4
minimal==2.6.9
pytest-xdist==1.8
cheetah==2.4.4
libsexy==0.1.9
parsimonious==0.6.0
cogapp==2.3
mccabe==0.3
ply==3.7
nose-progressive==1.3
genzshcomp==0.5.1
xe==0.7.4
Area53==0.94
SQLAlchemy==0.9.9
coilmq==0.6.1
crcmod==1.7
mistune==0.7.1
tarman==0.1.3
websockify==0.3.0
google-apputils==0.4.1
contextlib2==0.4.0
tkinter==2.7.10
pyparsing==1.5.7
rarfile==2.6
foolscap==0.6.4
pyenchant==1.6.6
boto==2.30.0
snowballstemmer==1.2.0
pycollada==0.4.1
meld3==1.0.0
curses==2.7.10
idna==2.0
XStatic==1.0.1
pyalogotrade==0.16
Django==1.5.12
urlgrabber==3.9.1
django-modelcluster==0.6.2
mutag-0.0.2==2ffa0258ca
sphinxcontrib-plantuml==0.5
paramiko==1.15.1
glance==0.1.7
ipyparallel==4.0.2
mycli==1.4.0
ecdsa==0.11
requests-oauthlib==v0.4.1
TaskCoach==1.3.22
iptools==0.6.1
requests-toolbelt==0.4.0
dotfiles==0.6.3
repoze.sphinx.autointerface==0.7.1
xlib==0.15rc1
selenium==2.44.0
bunch==1.0.1
docker-py==1.3.1
robotframework==2.8.7
qtile==0.10.2
mopidy-mopify==1.5.1
click==5.1
docs-pdf-a4==3.3.0
botocore==1.1.10
pycparser==2.10
ofxclient==1.3.8
PyBrowserID==0.9.2
patsy==0.3.0
Cython==0.23.3
XStatic-jQuery==1.10.2.1
netaddr==0.7.5
gevent-socketio==0.3.6
dill==0.2.4
trac==1.0.1
future==v0.14.3
Sphinx==1.3.1
docs-pdf-letter==3.1.5
isort==3.9.6
docs-pdf-a4==2.7.3
python-debian==0.1.23
virtualenv==1.11.6
ntplib==0.3.2
mezzanine==3.1.10
pyfribidi==0.11.0
rtv==1.4.2
pywatchman==1.3.0
pyglet==1.1.4
cssutils==0.9.9
pymysql==0.6.6
nvpy==0.9.2
avro==1.7.6
pytset-flakes==0.2
whisper==0.9.12
ordereddict==1.1
babelfish==0.5.3
crypt==2.7.10
darcsver==1.7.4
willie==5.2.0
repoze.sendmail==4.1
django-treebeard==3.0
fedpkg==1.14
pytest==2.7.3
gtimelog==0.9.1
prettytable==0.7.1
deform_bootstrap==0.2.9
sqlalchemy-migrate==0.6.1
markdown2==2.3.0
derpconf==0.4.9
docutils==0.12
zope.tales==4.0.2
scapy==2.2.0
pycares==0.7.0
jsonschema==2.4.0
robotframework-tools==0.1a115
zdaemon==4.0.0
pycapnp==0.5.1
pyramidhawkauth==0.1.0
numpydoc==0.5
speaklater==1.3
ColanderAlchemy==0.2.0
Mako==1.0.2
zope.filerepresentation==3.6.1
s3cmd==1.5.2
pyperclip==1.5.11
BTrees==4.1.4
dicttoxml==1.6.4
bitbucket-cli==0.4.1
pyramid_debugtoolbar==1.0.9
pygeoip==0.3.2
astroid==1.3.4
cffi==1.1.2
gmusicapi==4.0.0
gevent-websocket==0.9.3
defusedxml==0.4.1
markdown==2.3.1
twitter==1.15.0
graphite-influxdb==0.3
zope.deprecation==4.1.2
pirate-get==0.2.7
objgraph==2.0.1
pyramid_zodbconn==0.7
docs-html==2.6.8
pytest==pep8
zc.recipe.egg==1.3.2
repocheck-2015-08==05
sqlite3dbm==0.1.4
dockerpty==0.3.4
bottle==0.12.8
PyVirtualDisplay==0.1.5
mysql-connector-repackaged==0.3.1
xlrd==0.9.3
pyopengl==3.0.2
jedi==0.8.1
decorator==3.4.2
timelib==0.2.4
numexpr==2.4.3
pysnmp==4.2.5
gdata==2.0.18
amqp==1.4.6
blivet==0.67
docs-text==3.1.5
docs-html==3.3.0
power==1.2
robotsuite==1.4.2
memcached==1.51
SQLAlchemy==0.7.10
gyp-2015-06==11
pyechonest==8.0.2
pygpgme==0.3
typogrify==2.0.7
clf==0.5.2
elasticsearch==1.6.0
PIL==1.1.7
blessings==1.5.1
termcolor==1.1.0
praw==3.1.0
clepy==0.3.20
hg-git==0.8.1
cookies==2.2.1
internetarchive==0.8.3
zope.configuration==4.0.3
python-statsd==1.6.0
urllib3==1.8
gipc==0.5.0
basemap==1.0.7
nose-selecttests==0.4
netCDF4==1.1.8
gcovr==2.4
nose-cprof-0.1==0
hglib==1.7
terminado==0.5
rtslib-fb==2.1.fb43
caldavclientlibrary-asynk==asynkdev
PyLTI==0.4.0
pyutil==2.0.0
deluge==1.3.12
pyflakes==0.8.1
django-compressor==1.5
syncthing-gtk==0.6.3
py==1.4.30
discid==1.1.0
oauthlib==0.7.2
execnet==1.1
py3status==2.3
argh==0.26.1
hypothesis==0.7.0
klaus==0.6.0
linode==0.4
sure==1.2.8
libcloud==0.18.0
Bottleneck==1.0.0
bcrypt==1.0.2
Snapper==GUI
weboob==1.0
interruptingcow==0.6
WebHelpers==1.3
python-fedora==0.5.5
pyfiglet==0.7.2
pyzmq==14.5.0
colander==1.0
python-efl==1.15.0
mailpile==0.4.1
passlib==1.6.2
substanced==089818bc61c3dc5eca023254e37a280b041ea8cc
hawkauthlib==0.1.1
PasterScript==1.7.5
billiard==3.3.0.19
zope.size==3.5.0
mwlib.rl==0.14.6
ssdeep==3.1.1
zodburi==2.0
audiotools==2.22
pyramid==1.5.7
zope.interface==4.1.1
web.py==0.37
zope.security==4.0.1
numeric==24.2
pymongo==3.0.3
pymacs==0.25
reportlab==3.1.8
pelican==3.6.3
evernote==1.25.0
colour==0.1.2
recursive-pth-loader==1.0
nixpart==0.4.1
sipsimple==2.5.1
colorama==0.3.3
pg8000==1.10.1
iowait==0.2
setuptools_scm==1.7.0
validictory==1.0.0a2
transmissionrpc==0.11
pyuv==0.11.5
pyquery==1.2.9
dtrx==7.1
zbase32==1.1.2
gmpy==1.17
datadiff==1.1.6
cherrypy==3.2.2
pysftp==0.2.8
fusepy==2.0.2
ttystatus==0.23
PyPDF2==1.25.1
tlslite==0.4.8
vultr==0.1.2
distutils-extra==2.26
ropemode==0.2
singledispatch==3.4.0.3
pyramid_mako==0.3.1
pytest-cov==1.8.1
httpretty==0.8.3
PyStemmer==1.3.0
pyasn1-modules==0.0.5
manuel==1.8.0
mopidy==1.0.5
pyaml==15.02.1
serversyncstorage==1.5.11
python-cjson==1.1.0
geeknote-2015-03==02
scikit-learn==0.17b1
pyScss==1.3.4
fastimport==0.9.4
almir==0.1.8
Flask-Babel==0.9
khal==0.6.0
XStatic-Bootbox==4.3.0.1
lockfile==0.9.1
h5py==2.3.1
protobuf==2.6.1
pyPdf==1.13
pandas==0.16.2
matplotlib==1.4.3
atomiclong==0.1.1
cairocffi==0.7.1
turses==0.2.23
docker-registry-core==2.0.3
arrow==0.5.0
icalendar==3.9.0
mps-youtube==0.2.5
prompt_toolkit==0.46
cytoolz==0.7.3
file==5.24
sqlparse==0.1.16
enum==0.4.4
unicodecsv==0.12.0
paypalrestsdk==0.7.0
obfsproxy==0.2.13
buttersink==0.6.7
gflags==2.0
quantities==0.10.1
Pygments==2.0.2
kaa-metadata-0.7.8dev-r4569==20111003
Babel==1.3
progressbar==2.2
SQLAlchemy==0.8.7
cryptography==1.0
falcon==0.3.0
argparse==1.2.1
update_checker==0.11
python2nix==20140927
htmllaundry==2.0
rsvg==2.32.0
toolz==0.7.4
alabaster==0.7.3
arandr==0.1.8
evdev==0.4.7
simpleparse==2.1.1
docs-pdf-letter==2.6.8
django-pipeline==1.5.1
requests-oauth2==0.1.1
rpyc==3.3.0
pychart==1.39
jupyter_core==4.0.6
cryptography_vectors==1.0
SQLAlchemy-ImageAttach==0.8.2
tornadokick==0.2.1
powerline==2.1.4
GitPython==0.3.2
i3minator==0.0.4
stompclient==0.3.2
numba==0.21.0
pip==1.5.6
python3-pika==0.9.14
pika==0.9.12
mygpoclient==1.7
requests==2.7.0
jupyter_client==4.0.0
zope.browser==2.0.2
qutip==2.2.0
tweepy==2.3.0
hovercraft==2.0b1
potr==1.0.1
networkx==1.10
webtest==2.0.15
graphite-pager==2bbfe91220ec1e0ca1cdf4b5564386482a44ed7d
sleekxmpp==1.2.5
bsddb==2.7.10
curses_panel==2.7.10
pycurl==7.19.5
seaborn==0.6.0
pynzb==0.1.0
pyblosxom==1.5.3
dogpile.cache==0.5.4
clientform==0.2.10
scripttest==1.3
jmespath==0.7.1
dask==0.7.0
squaremap==1.0.4
gitdb==0.5.4
zconfig==3.0.3
kaa-base-0.99.2dev-384==2b73caca
ws4py-git==20130303
elpy==1.9.0
python-simple-hipchat==0.1
webcolors==1.4
traits==4.5.0
carbon==0.9.12
zc.recipe.egg==2.0.1
dpkt==1.8
gcutil==1.16.1
enum34==1.0.4
hetzner==0.7.3
mechanize==0.2.5
mrbob==0.1.1
audioread==1.2.1
pyjwt==0.3.2
fonttools==3.0
sigal==0.9.2
bugwarrior==1.0.2
youtube-dl==2015.10.06.2
XStatic-Bootstrap==3.3.5.1
targetcli-fb==2.1.fb33
jenkins-job-builder==1.2.0
git-cola==2.2.1
cvxopt==1.1.7
virtualenv-clone==0.2.5
python-keyczar==0.71c
pyrax==1.8.2
docs-text==3.3.0
ofxhome==0.3.1
Shapely==1.3.1
proboscis==1.2.6.0
locustio==0.7.2
pycurl2==7.20.0
python-xcaplib==1.1.0
jdcal==1.0
APScheduler==3.0.1
deform==2.0a2
django-appconf==1.0.1
sqlite3==2.7.10
d2to1==0.2.11
fabric==1.10.0
pykickstart==1.99.39
python-mpd==0.3.0
wcwidth==0.1.4
namebench==1.3.1
http_signature==0.1.4
libarchive-c==2.1
dateutil==2.2
pyusb==1.0.0b2
configshell-fb==1.1.fb10
pudb==2013.3.6
XStatic-jquery-ui==1.11.0.1
Pyro==3.16
wxPython==3.0.2.0
mozsvc==0.8
aafigure==0.5
thrift==0.9.2
pytest-runner==2.6.2
pbkdf2==1.3
versiontools==1.9.1
restview==2.2.1
anyjson==0.3.3
traitlets==4.0.0
pyodbc==3.0.7
pygame==1.9.1
blink==1.4.1
docs-pdf-a4==2.6.8
llvmlite==0.7.0
tracing==0.8
PyRSS2Gen==1.0.0
python-wifi==0.6.0
XStatic-Pygments==1.6.0.1
pilkit==1.1.4
rpy2==2.5.6
async==0.6.1
recaptcha-client==1.0.6
IMAPClient==0.11
pytidylib==0.2.4
jrnl==1.9.7
graphite-api==1.0.1
celery==3.1.17
pyxdg==0.25
ipywidgets==4.0.2
tzlocal==1.1.1
nose==1.3.4
sympy==0.7.6
multipledispatch==0.4.8
amqplib==0.6.1
pypeg2==2.15.1
osc==0.133+git
nwdiag==1.0.3
doxypy==0.4.2
zope.dottedname==3.4.6
python-eventlib==0.2.1
unittest2==0.5.1
retry_decorator==1.0.0
pexif==0.15
fake-factory==0.2
publicsuffix==1.0.2
xonsh==0.1.3
jsonpath-rw==1.4.0
eventlet==0.16.1
tornado==4.2.1
paste==1.7.5.1
mwlib.ext==0.13.2
libarchive-3.1.2==1
thumbor==5.2.1
gevent==1.0.2
docs-text==2.6.8
pyparted==3.10.7
zc.buildout==1.5.2
flake8==2.3.0
discogs-client==2.0.2
pdfdiff==0.92
docs-pdf-a4==3.2.3
WSGIProxy2==0.1
autopep8==1.0.4
pysphere==0.1.8
markupsafe==0.15
raven==3.4.1
dropbox==3.37
knockknock==rbf14bbff
pycdio==0.20
pushbullet.py==0.5.0
bleach==v1.4
zope.testing==4.5.0
munkres==1.0.6
logilab-common==0.63.2
docs-html==2.7.3
