APScheduler==3.0.4
Area53==0.94
BTrees==4.1.4
Babel==2.3.4
Beaker==1.8.0
BlinkStick==1.1.8
Bottleneck==1.0.0
CDDB==1.4
Cerberus==0.9.2
Chameleon==2.15
CoilMQ==1.0.0
ColanderAlchemy==0.3.3
CommonMark==0.5.4
CommonMark==0.6.3
ConfigArgParse==0.9.3
Cython==0.24.1
Django==1.10.2
Django==1.5.12
Django==1.6.11
Django==1.7.11
Django==1.8.15
Django==1.9.10
Djblets==0.9
EasyProcess==0.2.3
EditorConfig==0.12.0
Eve==0.6.1
Events==0.2.1
ExifRead==2.1.2
Fabric==1.10.2
Flask-Assets==0.11
Flask-Babel==0.11.1
Flask-Cache==0.13.1
Flask-Cors==2.1.2
Flask-Login==0.2.2
Flask-Migrate==1.7.0
Flask-Principal==0.4.0
Flask-PyMongo==0.3.1
Flask-SQLAlchemy==2.1
Flask-Script==2.0.5
FlexGet==1.2.337
Flootty==3.2.0
FormEncode==1.3.0
GeoAlchemy2==0.3.0
GitPython==2.0.8
IMAPClient==0.13
Jinja2==2.8
Kajiki==0.5.5
Keras==1.0.3
Lasagne==0.1
Logbook==0.11.3
MDP==3.5
Mako==1.0.4
MechanicalSoup==0.4.0
ModestMaps==1.4.6
MySQL-python==1.2.5
NeuroTools==0.3.1
Nuitka==0.5.21.3
PasterScript==1.7.5
Paver==1.2.2
Pillow==3.3.1
Pweave==0.25
PyBrowserID==0.9.2
PyChef==0.3.0
PyContracts==1.7.9
PyICU==1.9.3
PyLTI==0.4.1
PyPDF2==1.26.0
PyQt==5.6
PyQt-x11-gpl==4.11.3
PyRSS2Gen==1.0.0
PyStemmer==1.3.0
PyStringTemplate==3.2b1
PyVirtualDisplay==0.1.5
PyXML==0.8.4
PyYAML==3.12
Pygments==2.0.2
Pygments==2.1.3
Pympler==0.4.3
Pyro==3.16
Quandl==3.0.0
ROPGadget==5.4
ReviewBoard==2.5.1.1
SPARQLWrapper==1.7.6
SQLAlchemy==1.0.15
SQLAlchemy-ImageAttach==0.8.2
Scrapy==1.1.2
Shapely==1.5.15
Skype4Py==1.0.32.0
Snapper==GUI
SocksiPy-branch==1.01
Sphinx==1.4.6
Sphinx-PyPI-upload==0.2.1
TaskCoach==1.3.22
Theano==0.8.2
Theano-cuda==0.8.2
Twiggy==0.4.5
Twisted==16.4.1
Unidecode==0.04.18
WSGIProxy==0.2.2
WSGIProxy2==0.4.2
WSME==0.8.0
Wand==0.3.5
WebHelpers==1.3
Werkzeug==0.11.10
Whoosh==2.7.4
XStatic==1.0.1
XStatic-Bootbox==4.3.0.1
XStatic-Bootstrap==3.3.5.1
XStatic-Pygments==1.6.0.1
XStatic-jQuery==1.10.2.1
XStatic-jQuery-File-Upload==9.7.0.1
XStatic-jquery-ui==1.11.0.1
Yapsy==1.11.223
ZEO==4.0.0
aafigure==0.5
acme==0.5.0
acme==0.6.0
acme-tiny-2016-03==26
actdiag==0.5.3
adal==0.1.0
afew-git-2016-01==04
agate==1.2.2
agate-dbf==0.1.0
agate-excel==0.1.0
aiodns==1.0.1
aioeventlet==0.4
aiohttp==0.21.5
alabaster==0.7.7
alembic==0.8.3
almir==0.1.8
alot==0.3.7
amqp==1.4.9
amqplib==0.6.1
ansi==0.1.3
ansible==1.9.6
ansible==2.1.2.0
anyjson==0.3.3
apipkg==1.4
appdirs==1.4.0
apsw-3.7.6.2==r1
argh==0.26.1
argparse==1.4.0
args==0.1.0
arrow==0.7.0
asgi_ipc==1.1.0
asgi_redis==0.14.1
asgiref==0.14.0
asn1ate-unstable==20160810
astroid==1.4.4
async==0.6.1
asyncio==3.4.3
atomiclong==0.1.1
atomicwrites==0.1.9
attrdict==2.0.0
attrs==16.2.0
audioread==2.1.1
audiotools==3.1.1
autobahn==0.16.0
automaton==0.8.0
autopep8==1.0.4
av==0.2.4
avro==1.7.6
avro3k-1.7.7==SNAPSHOT
awesome-slugify==1.6.5
aws-shell==0.1.1
azure==0.11.0
azure-common==1.0.0
azure-mgmt-common==0.20.0
azure-mgmt-compute==0.20.0
azure-mgmt-network==0.20.1
azure-mgmt-nspkg==1.0.0
azure-mgmt-resource==0.20.1
azure-mgmt-storage==0.20.0
azure-nspkg==1.0.0
azure-servicemanagement-legacy==0.20.1
azure-storage==0.20.3
babelfish==0.5.3
backports.functools_lru_cache==1.3
backports.lzma==0.0.3
backports.shutil_get_terminal_size==1.0.0
backports.ssl_match_hostname==3.4.0.2
backports.ssl_match_hostname==3.5.0.1
backports_abc==0.4
bandit==0.16.1
barbicanclient==3.3.0
basemap==1.0.7
basiciw==0.2.2
batinfo==0.3
bcdoc==0.14.0
bcrypt==3.1.0
beautifulsoup==3.2.1
beautifulsoup4==4.1.3
beautifulsoup4==4.5.1
bedup==0.10.1
bepasty-server==0.4.0
betamax==0.6.0
betamax-matchers==0.3.0
billiard==3.3.0.23
binaryornot==0.4.0
binwalk==2.1.1
biopython==1.68
bitbucket-api==0.4.4
bitbucket-cli==0.4.1
bitstring==3.1.2
blaze==0.11.0
bleach==v1.4.3
blessings==1.6
blinker==1.3
blist==1.3.6
blivet==0.67
bokeh==0.12.3
bootstrapped-pip==8.1.2
boto==2.30.0
boto==2.42.0
boto3==1.4.1
botocore==1.4.67
bottle==0.12.9
box2d==2.3b0
bpython==0.12
breathe==4.2.0
bsddb3==6.1.1
bugwarrior==1.4.0
bugzilla==1.1.0
bunch==1.0.1
buttersink==0.6.8
cached-property==1.3.0
cachetools==1.1.3
cairocffi==0.7.2
cairosvg==1.0.18
caldavclientlibrary-asynk==asynkdev
canonicaljson==1.0.0
capstone==3.0.4
carbon==0.9.15
carrot==0.10.7
cassandra-driver==3.6.0
castellan==0.2.1
celery==3.1.23
certifi==2016.2.28
cffi==1.7.0
cgkit==2.0.0
cgroup-utils==0.6
chai==1.1.1
channels==0.17.3
characteristic==14.1.0
chardet==2.3.0
check==manifest
cheetah==2.4.4
cherrypy==3.2.2
cinderclient==1.4.0
circus==0.11.1
clepy==0.3.20
clf==0.5.2
cliapp==1.20150305
click==5.1
click==6.6
click-log==0.1.3
click-threading==0.4.0
clientform==0.2.10
cliff==1.15.0
cliff-tablib==1.1
clint==0.5.1
clize==3.0
closure-linter==2.3.19
cloudpickle==0.2.1
cmd2==0.6.8
cmdline==0.1.6
cmdtest==0.18
cogapp==2.3
colander==1.0
colorama==0.3.3
colorama==0.3.7
colored==1.1.5
colorlog==2.6.1
colour==0.1.2
configobj==5.0.6
configparser==3.3.0r2
configshell-fb==1.1.fb10
construct==2.5.2
contextlib2==0.5.3
cookiecutter==1.4.0
cookies==2.2.1
cornice==1.2.1
cov-core==1.15.0
coverage==4.0.1
crcmod==1.7
credstash==1.11.0
cryptacular==1.4.1
cryptography==1.5.1
cryptography_vectors==1.5.1
cssselect==0.9.1
cssutils==0.9.9
csvkit==0.9.1
cvxopt==1.1.7
cx_freeze==4.3.4
cycler==0.10.0
cytoolz==0.8.0
d2to1==0.2.11
daemonize==2.4.2
daphne==0.15.0
darcsver==1.7.4
dask==0.11.0
datadiff==1.1.6
datadog==0.10.0
datashape==0.5.2
dateparser-0.3.2-pre-2016-01==21
dateutil==1.5
dateutil==2.1
dateutil==2.2
dateutil==2.5.3
dbf==0.94.003
dbfread==2.0.5
dbus-python==1.2.4
ddar==1.0
ddt==1.0.0
debtcollector==0.9.0
decorator==4.0.10
deform==2.0a2
deform_bootstrap==0.2.9
defusedxml==0.4.1
deluge==1.3.12
demjson==1.6
derpconf==0.4.9
deskcon==0.3
detox==0.10.0
devpi==common
dicttoxml==1.6.4
dill==0.2.5
discid==1.1.0
discogs-client==2.0.2
distributed==1.10.0
distutils-extra==2.39
django-appconf==1.0.1
django-classy-tags==0.6.1
django-colorful==1.2
django-compat==1.0.13
django-compressor==1.5
django-environ==0.4.0
django-guardian==1.4.4
django-haystack==2.4.1
django-hijack==2.0.7
django-modelcluster==0.6.2
django-multiselectfield==0.1.3
django-nose==1.4.4
django-pipeline==1.5.1
django-raster==0.3
django-redis==4.2.0
django-reversion==1.10.1
django-silk==0.5.6
django-tagging==0.3.1
django-taggit==0.17.0
django-treebeard==3.0
django_evolution==0.7.5
djangorestframework==3.2.3
dnspython==1.14.0
docker-py==1.9.0
docker-registry==0.9.1
docker-registry-core==2.0.3
dockerpty==0.4.1
docopt==0.6.2
docs-html==2.6.8
docs-html==2.7.3
docs-html==3.3.0
docs-pdf-a4==2.6.8
docs-pdf-a4==2.7.3
docs-pdf-a4==3.3.0
docs-pdf-letter==2.6.8
docs-pdf-letter==2.7.3
docs-pdf-letter==3.3.0
docs-text==2.6.8
docs-text==2.7.3
docs-text==3.3.0
doctest-ignore-unicode==0.1.2
docutils==0.12
dogpile.cache==0.5.4
dogpile.core==0.4.1
dopy-2016-01==04
dosage==2016.03.17
dot2tex==2.9.0
dotfiles==0.6.3
doxypy==0.4.2
dpkt==1.8
dropbox==3.37
ds4drv==0.5.0
dtopt==0.1
dugong==3.5
dulwich==0.12.0
dyn==1.5.0
dynd==0.7.2
ecdsa==0.13
ed25519==1.4
eggdeps==0.4
elasticsearch==1.9.0
elasticsearch-dsl==0.0.9
elpy==1.9.0
emcee==2.1.0
emoji==0.3.9
enum==0.4.4
enum34==1.0.4
epc==0.0.3
et_xmlfile==1.0.1
etcd==2.0.8
evdev==0.4.7
eventlet==0.17.4
evernote==1.25.0
execnet==1.4.1
extras==0.0.3
eyeD3==0.7.8
facebook-sdk==0.4.0
factory_boy==2.6.1
fake-factory==0.6.0
faker==0.0.4
falcon==1.0.0
fasteners==0.14.1
fastimport==0.9.4
fdroidserver-git-2016-05==31
fedora-cert==0.5.9.2
fedpkg==1.14
feedgenerator==1.7
feedparser==5.2.1
file==5.28
filebrowser_safe==0.3.6
filebytes==0.9.12
fixtures==1.4.0
flake8==2.6.2
flake8==3.0.4
flaky==3.1.0
flask==0.10.1
flowlogs_reader==1.0.0
flup==1.0.2
fonttools==3.0
foolscap==0.10.1
forbiddenfruit==0.1.0
freezegun==0.3.5
frozendict==0.5
fs==0.5.4
ftputil==3.3
fudge==0.9.6
fudge==1.1.0
funcparserlib==0.3.6
funcsigs==1.0.2
functools32-3.2.3==2
funcy==1.6
fuse==0.2.1
fusepy==2.0.4
future==0.15.2
futures==2.2.0
futures==3.0.5
futurist==0.7.0
gateone-1.2==0d57c3
gcovr==2.4
gcs-oauth2-boto-plugin==1.8
gdal==2.1.1
gdata==2.0.18
geeknote-2015-05==11
genshi==0.7
genzshcomp==0.5.1
geopy==1.11.0
gevent==1.1.2
gevent-socketio==0.3.6
gevent-websocket==0.9.3
geventhttpclient==1.3.1
gflags==2.0
ghp-import==0.4.1
gipc==0.5.0
git-sweep==0.1.1
git-up==1.4.1
gitdb==0.6.4
github-cli==1.0.0
github3.py==1.0.0a4
glance_store==0.9.1
glanceclient==1.1.0
glances==2.7.1_1
gmpy==1.17
gmpy2==2.0.6
gmusicapi==7.0.0
gnome-doc-utils==0.20.10
gnureadline==6.3.3
goobook==1.9
google-api-python-client==1.5.1
google-apputils==0.4.1
googlecl==0.9.14
gplaycli==0.1.2
gpsoauth==0.0.4
graph-tool==2.16
graphite-api==1.0.1
graphite-influxdb==0.3
graphite-pager==2bbfe91220ec1e0ca1cdf4b5564386482a44ed7d
graphite-web==0.9.12
graphite_beacon==0.22.1
grappelli_safe==0.3.13
green==2.3.0
greenlet==0.4.10
grequests==0.2.0
grip==4.3.2
gspread==0.2.3
gssapi==1.1.4
gsutil==4.6
gtimelog==0.9.1
guessit==0.9.4
gunicorn==19.1.0
gyp-2015-06==11
h5py==2.6.0
hawkauthlib==0.1.1
hcs_utils==1.5
helper==2.4.1
hetzner==0.7.4
hg-git==0.8.5
hglib==1.7
hgsvn==0.3.11
hidapi==0.7.99.post15
hovercraft==2.0
howdoi==1.1.7
hpack==2.0.1
hplip==3.16.5
html2text==2016.9.19
html5lib==0.999
htmllaundry==2.0
htmltreediff==0.1.2
http_signature==0.1.4
httpauth==0.3
httpbin==0.2.0
httplib2==0.9.2
httpretty==0.8.10
hug==2.1.2
humanize==0.5.1
hvac==0.2.15
hyp-server==1.2.0
hypatia==0.3
hypchat==0.21
hypothesis==3.5.2
i3-py==0.6.4
icalendar==3.9.0
idna==2.0
imageio==1.6
imagesize==0.7.0
importmagic==0.1.3
inflect==0.2.5
inflection==0.3.1
influxdb==0.1.12
infoqscraper==0.1.0
inifile==0.3
iniparse==0.4
internetarchive==0.8.3
interruptingcow==0.6
iowait==0.2
ipaddr==2.1.10
ipaddress==1.0.16
ipdb==0.8.1
ipdbplugin==1.4
iptools==0.6.1
ipy==0.74
ipykernel==4.5.0
ipyparallel==5.2.0
ipython==5.1.0
ipython_genutils==0.1.0
ipywidgets==5.2.2
irc==14.2.2
irclib==0.4.8
ironicclient==0.9.0
iso8601==0.1.11
isodate==0.5.4
isort==4.2.5
itsdangerous==0.24
j2cli-0.3.1==0
jaraco.classes==1.4
jaraco.collections==1.3.2
jaraco.functools==1.11
jaraco.itertools==1.7.1
jaraco.logging==1.5
jaraco.stream==1.1.1
jaraco.text==1.7
jdatetime==1.7.1
jdcal==1.0
jedi==0.9.0
jellyfish==0.5.2
jenkins-job-builder==1.4.0
jenkinsapi==0.2.32
jinja2-time==0.2.0
jmespath==0.9.0
joblib==0.9.4
jrnl==1.9.7
jsonnet==0.8.9
jsonpatch==1.11
jsonpath-rw==1.4.0
jsonpointer==1.9
jsonref==0.1
jsonrpclib==0.1.7
jsonschema==2.5.1
jsonwatch==0.2.0
jug==1.2.2
jupyter==1.0.0
jupyter_client==4.4.0
jupyter_console==5.0.0
jupyter_core==4.2.0
jupyterlab==0.4.1
kaa-base-0.99.2dev-384==2b73caca
kaa-metadata-0.7.8dev-r4569==20111003
kaptan==0.5.8
kazoo==2.2.1
keepalive==0.5
keepkey==0.7.3
kerberos==1.2.4
keyring==8.4.1
keystoneauth1==1.1.0
keystoneclient==1.8.1
keystonemiddleware==2.4.1
kitchen==1.1.1
klaus==0.9.1
klein==15.3.1
kombu==3.0.35
konfig==0.9
larch==1.20131130
lazy-object-proxy==1.2.1
ldap==2.4.19
ldap3==1.0.4
ldappool==1.0
le==1.4.29
ledger-autosync==0.2.3
lektor==2.3
libarchive-c==2.5
libcloud==1.2.1
libgpuarray-cuda-==9998.0
librosa==0.4.0
libsexy==0.1.9
libthumbor==1.2.0
libtmux==0.6.0
lightblue==0.4
lightning-python==1.2.1
limnoria==2016.05.06
line_profiler==1.0
linecache2==1.0.0
linode==0.4
livestreamer==1.12.2
livestreamer-curses==1.5.2
llfuse==0.41.1
llfuse==1.0
llvmlite==0.13.0
locket==0.2.0
lockfile==0.10.2
locustio==0.7.2
logilab-astng==0.24.3
logilab-common==0.63.2
logilab-constraint==0.6.0
logster==7475c53822
logutils==0.3.3
lsi==0.2.2
lxml==3.4.4
lxml==3.5.0
lz4==0.8.2
m2crypto==0.24.0
mailchimp==2.0.9
maildir-deduplicate==1.0.2
manuel==1.8.0
markdown==2.6.4
markdown-macros==0.1.2
markdown2==2.3.0
markupsafe==0.23
mathics==0.9
matplotlib==1.5.3
mccabe==0.4.0
mccabe==0.5.2
mechanize==0.2.5
meld3==1.0.0
memcached==1.51
memory_profiler==0.39
meson==0.35.0
mezzanine==3.1.10
minidb==2.0.1
minimock==1.2.8
mistune==0.7.1
mixpanel==4.0.2
mmpython==0.4.10
mnemonic==0.12
mock==2.0.0
moinmoin==1.9.8
mongodict==0.3.1
monotonic==0.4
more-itertools==2.2
moretools==0.1a41
moto==0.4.25
moviepy==0.2.2.11
mox==0.5.3
mox3==0.11.0
mozsvc==0.8
mpd2==0.5.5
mpi4py==1.3.1
mpmath==0.19
mps-youtube==0.2.7.1
mpv==0.1
mrbob==0.1.2
msgpack-python==0.4.7
multi_key_dict==2.0.3
multipledispatch==0.4.8
multiprocess==0.70.4
munch==2.0.4
munkres==1.0.6
musicbrainzngs==0.5
mutag-0.0.2==2ffa0258ca
mutagen==1.32
muttils==1.3
mwclient==0.8.1
mwlib==0.15.15
mwlib.ext==0.13.2
mwlib.rl==0.14.6
mycli==1.6.0
mygpoclient==1.7
mysql-connector-repackaged==0.3.1
namebench==1.3.1
nameparser==0.3.4
nbconvert==4.2.0
nbformat==4.0.1
nbxmpp==0.5.3
ndg-httpsclient==0.4.0
neovim==0.1.9
neovim-pygui==0.1.9
netCDF4==1.2.4
netaddr==0.7.18
netifaces==0.10.5
networking-hyperv==2015.1.0
networkx==1.11
neuronpy==0.1.6
neutronclient==3.1.0
nevow==0.14.2
nibabel==2.0.2
nilearn==0.2.5
nine==0.3.4
nipy==0.4.0
nipype==0.10.0
nose==1.3.7
nose-cover3==0.1.0
nose-cprof-0.1==0
nose-exclude==0.4.1
nose-parameterized==0.5.0
nose-progressive==1.5.1
nose-selecttests==0.4
nose2==0.5.0
nosejs==0.9.4
nosexcover==1.0.10
notebook==4.2.3
notify==0.1.1
nototools-git-2016-03==25
novaclient==2.31.0
ntfy==1.2.0
ntplib==0.3.3
numba==0.27.0
numexpr==2.5.2
numpy==1.10.4
numpy==1.11.2
numpydoc==0.5
numtraits==0.2
nwdiag==1.0.3
nxt-python-unstable==20160819
oauth==1.0.1
oauth2==1.9.0.post1
oauth2client==1.4.12
oauthlib==0.7.2
obfsproxy==0.2.13
objgraph==2.0.1
odfpy==0.9.6
odo==0.5.0
offtrac==0.1.0
ofxclient==1.3.8
ofxhome==0.3.1
ofxparse==0.14
oger==1.1.3
openpyxl==2.3.5
openpyxl-2.2.0==b1
openstackclient==1.7.1
ordereddict==1.1
os-brick==0.5.0
os-client-config==1.8.1
os-testr==0.4.2
osc==0.133+git
oslo-concurrency==2.7.0
oslo.cache==0.9.0
oslo.config==2.5.0
oslo.context==0.7.0
oslo.db==3.0.0
oslo.i18n==2.7.0
oslo.log==1.12.1
oslo.messaging==2.7.0
oslo.middleware==2.9.0
oslo.policy==0.12.0
oslo.reports==0.6.0
oslo.rootwrap==2.4.0
oslo.serialization==1.10.0
oslo.service==0.10.0
oslo.utils==2.6.0
oslo.versionedobjects==0.11.0
oslo.vmware==1.22.0
oslosphinx==3.3.1
oslotest==1.12.0
osprofiler==0.3.0
ovh==0.4.5
packaging==16.7
packet-python==1.31
pafy==0.5.2
pagerduty==0.2.1
paho-mqtt==1.1
pamqp==1.6.1
pandas==0.19.0
pandocfilters==1.3.0
paramiko==2.0.2
parsedatetime==1.5
parsel==1.0.3
parsimonious==0.6.2
partd==0.3.3
passlib==1.6.5
paste==1.7.5.1
paste-deploy==1.5.2
patch==1.16
path-and-address==2.0.1
path.py==8.1.2
pathlib==1.0.1
pathlib2==2.1.0
pathos==0.2.0
pathtools==0.1.2
patsy==0.3.0
paypalrestsdk==0.7.0
pbkdf2==1.3
pbr==1.8.1
pdfkit==0.5.0
pdfminer==20140328
pecan==1.0.3
pelican==3.6.3
pep257==0.3.2
pep8==1.7.0
peppercorn==0.5
percol==0.0.8
persistent==4.0.8
pexif==0.15
pexpect==3.3
pg8000==1.10.1
pgcli==1.1.0
pgpdump==1.5
pgspecial==1.5.0
pickleshare==0.5
pid==2.0.1
piep==0.8.0
pies==2.6.5
pies2overrides==2.6.5
pika==0.10.0
pilkit==1.1.4
pillowfight==0.2
pip==8.1.2
pirate-get==0.2.9
pivy==20101207
pkgconfig==1.1.0
pkginfo==1.3.2
platformio==2.10.3
plotly==1.9.5
plover==3.0.0
pluggy==0.3.1
plumbum==1.5.0
ply==3.8
pocket==0.3.6
polib==1.0.4
poppler-qt4==0.18.1
posix_ipc==1.0.0
potr==1.0.1
power==1.4
powerline==2.1.4
pox==0.2.2
poyo==0.4.0
ppft==1.6.4.6
praw==3.5.0
pretend==1.0.8
prettytable==0.7.1
proboscis==1.2.6.0
process-tests==1.2.1
progressbar==2.2
prompt_toolkit==0.52
prompt_toolkit==1.0.3
protobuf==2.5.0
protobuf==2.6.1
protobuf==3.0.0
protobuf-3.0.0-beta==2
psutil==4.3.0
psycopg2==2.6.1
ptest==1.5.3
ptpython==0.35
ptyprocess==0.5
publicsuffix==1.0.2
pudb==2013.3.6
pushbullet.py==0.10.0
pwntools==3.1.0
py==1.4.31
py3status==3.0
pyPdf==1.13
pyRFC3339==0.2
pyScss==1.3.4
pyacoustid==1.1.0
pyalogotrade==0.16
pyaml==15.02.1
pyasn1==0.1.9
pyasn1-modules==0.0.8
pybfd==0.1.1
pyblosxom==1.5.3
pybluez-unstable==20160819
pybrain==0.3.3
pycadf==1.1.0
pycallgraph==1.0.1
pycangjie==1.3_rev_361bb413203fd43bab624d98edf6f7d20ce6bfd3
pycapnp==0.5.1
pycarddav==0.7.0
pycares==1.0.0
pycdio==0.20
pychart==1.39
pycodestyle==2.0.0
pycollada==0.4.1
pycosat==0.6.0
pycountry==1.17
pycparser==2.14
pycryptopp==0.6.0.1206569328141510525648634803928199668821045408958
pycuda==2016.1
pycups==1.9.73
pycurl==7.19.5
pycurl2==7.20.0
pydenticon==0.2
pydispatcher==2.0.5
pydns==2.3.6
pydot==1.0.2
pydot_ng==1.0.0
pyechonest==8.0.2
pyelasticsearch==1.4
pyelftools==0.23
pyenchant==1.6.6
pyev==0.9.0
pyexcelerator==0.6.4.1
pyfantom-unstable-2013-12==18
pyfeed==0.7.4
pyfftw==0.10.4
pyfiglet==0.7.2
pyflakes==1.0.0
pyfribidi==0.11.0
pyftgl==0.4b
pygal==2.0.10
pygame==1.9.1
pygame-2016-05==17
pygeoip==0.3.2
pygit2==0.24.0
pyglet==1.2.4
pygments-markdown-lexer==0.1.0.dev39
pygobject==2.28.6
pygobject==3.22.0
pygpgme==0.3
pygraphviz==1.3.1
pygtk==2.24.0
pygtksourceview==2.10.1
pyjade==4.0.0
pyjwt==1.4.0
pykickstart==1.99.39
pykka==1.2.0
pylast==0.5.11
pylibacl==0.5.1
pylibconfig2==0.2.4
pyliblo==0.9.2
pylint==1.5.4
pylru==1.0.9
pymacaroons-pynacl==0.9.3
pymacs==0.25
pymetar==0.20
pymongo==2.9.1
pymongo==3.0.3
pymysql==0.6.6
pymysqlsa==1.0
pynac==0.2
pynacl==0.3.0
pynzb==0.1.0
pyodbc==3.0.7
pyopengl==3.1.0
pyopenssl==16.1.0
pypandoc==1.2.0
pyparsing==1.5.7
pyparsing==2.1.8
pyparted==3.10.7
pypeg2==2.15.2
pyperclip==1.5.11
pypolicyd-spf==1.3.2
pypoppler==0.12.2
pyptlib==0.0.6
pyqtgraph==0.9.10
pyquery==1.2.9
pyramid==1.7
pyramid_chameleon==0.3
pyramid_debugtoolbar==1.0.9
pyramid_exclog==0.7
pyramid_jinja2==2.5
pyramid_mailer==0.13
pyramid_mako==0.3.1
pyramid_multiauth==0.8.0
pyramid_tm==0.10
pyramid_zodbconn==0.7
pyramidhawkauth==0.1.0
pyreport==0.3.4c
pyrex==0.9.5.1.1
pyrex==0.9.6.4
pyrr==0.7.2
pyrsistent==0.11.12
pyrtlsdr==0.2.0
pysaml2==3.0.2
pysendfile==2.0.1
pyserial==2.7
pysftp==0.2.9
pyshp==1.2.3
pyside-apiextractor==0.10.10
pyside-generatorrunner==0.6.16
pyside-shiboken==1.2.4
pyside-tools==0.2.15
pysmi==0.0.7
pysnmp==4.3.2
pysocks==1.5.7
pysolr==3.3.3
pysoundfile==0.8.1
pyspf==2.0.12
pysphere==0.1.8
pyspotify==2.0.5
pysqlite==2.8.3
pystache==0.5.4
pysvn==1.8.0
pytest==2.7.3
pytest==2.8.7
pytest==2.9.2
pytest==3.0.3
pytest==pep8
pytest-cache==1.0
pytest-cov==2.3.1
pytest-django==2.9.1
pytest-fixture-config==1.0.1
pytest-flakes==1.0.1
pytest-localserver==0.3.5
pytest-mock==1.2
pytest-pep257==0.0.1
pytest-quickcheck==0.8.2
pytest-raisesregexp==2.0
pytest-rerunfailures==2.0.1
pytest-runner==2.6.2
pytest-server-fixtures==1.1.0
pytest-shutil==1.1.1
pytest-subtesthack==0.1.1
pytest-virtualenv==1.1.0
pytest-xdist==1.8
python==gnutls
python-Levenshtein==0.12.0
python-application==2.0.2
python-axolotl==0.1.7
python-axolotl-curve25519==0.1
python-cjson==1.1.0
python-daemon==2.1.1
python-debian==0.1.23
python-editor==0.4
python-efl==1.18.0
python-etcd==0.4.3
python-eventlib==0.2.2
python-fedora==0.5.5
python-gnupg==0.3.8
python-imread==0.6
python-jenkins==0.4.11
python-keyczar==0.71c
python-lpod==1.1.7
python-magic==0.4.10
python-mahotas==1.4.2
python-mapnik-git-2016-08==30
python-mimeparse==0.1.4
python-mpd==0.3.0
python-msrplib==0.19
python-notmuch==0.22
python-otr==1.2.0
python-pyaudio==0.2.9
python-setproctitle==1.1.9
python-simple-hipchat==0.1
python-statsd==1.6.0
python-systemd==231
python-termstyle==0.1.10
python-wifi==0.6.0
python-xcaplib==1.2.0
python2-pythondialog==3.3.0
python2.7-pycairo==1.10.0
python2.7-pyside==1.2.4
python3-pika==0.9.14
python3.5-pycairo==1.10.0
python3.5-pyside==1.2.4
pytidylib==0.2.4
pytimeparse==1.1.5
pytools==2016.2.1
pytz==2016.6.1
pyudev==0.16.1
pyusb==1.0.0
pyutil==2.0.0
pyuv==1.2.0
pywatchman==1.3.0
pywebkitgtk==1.1.8
pywinrm==0.1.1
pyx==0.14.1
pyxattr==0.5.1
pyxdg==0.25
pyzmq==15.2.0
qnotero==1.0.0
qpid-python==0.32
qrcode==5.1
qscintilla==2.9
qserve==0.2.8
qtconsole==4.2.1
quantities==0.10.1
queuelib==1.4.2
qutip==2.2.0
rabbitpy==0.26.2
rainbowstream==1.3.5
ramlfications==0.1.9
random2==1.0.1
rarfile==2.6
raven==3.4.1
rbtools==0.7.2
rdflib==4.1.2
readme==0.6.0
recaptcha-client==1.0.6
recommonmark==0.4.0
recursive-pth-loader==1.0
redis==2.10.5
rednotebook==1.8.1
regex==2016.01.10
rencode==git20150810
repeated_test==0.1a3
repocheck-2015-08==05
reportlab==3.2.0
repoze.lru==0.6
repoze.sendmail==4.1
repoze.sphinx.autointerface==0.7.1
repoze.who==2.2
requests==1.2.3
requests==2.11.1
requests-cache==0.4.10
requests-mock==0.6.0
requests-oauth2==0.1.1
requests-oauthlib==0.4.1
requests-toolbelt==0.6.2
responses==0.4.0
restview==2.5.2
rethinkdb==2.3.0.post6
retry_decorator==1.0.0
retrying==1.3.3
rfc3986==0.2.2
robomachine==0.6
robotframework==2.8.7
robotframework-ride==1.2.3
robotframework-selenium2library==1.6.0
robotframework-tools==0.1a115
robotsuite==1.4.2
rocket-errbot==1.2.5
roman==2.0.0
rootpy==0.8.3
rope==0.10.2
ropemacs==0.7
ropemode==0.2
routes==1.12.3
rpdb==0.1.5
rpkg==1.14
rpyc==3.3.0
rsa==3.4.2
rsvg==2.32.0
rtmidi==0.3a
rtslib-fb==2.1.fb43
ruamel.base==1.0.0
ruamel.ordereddict==0.4.9
ruamel.yaml==0.10.13
runsnakerun==2.0.4
ryu==3.26
s3fs==0.0.4
s3transfer==0.1.9
sandboxlib==0.31
sarge==0.1.4
scales==1.0.9
scapy==2.2.0
scfbuild==1.0.3
schedule==0.3.2
scikit-image==0.11.3
scikit-learn==0.18
scikits.samplerate==0.3.3
scipy==0.17.1
scipy==0.18.1
screenkey-0.2==b3634a2c6eb6d6936c3b2c1ef5078bf3a84c40c6
scripttest==1.3
seaborn==0.7.1
searx==0.10.0
secp256k1==0.12.1
selenium==2.52.0
semantic==1.0.3
semantic_version==2.4.2
semver==2.2.1
seqdiag==0.9.4
serversyncstorage==1.5.13
service-identity==16.0.0
setuptools==26.1.1
setuptools-git==1.1
setuptools_darcs==1.2.11
setuptools_scm==1.11.1
setuptools_scm==1.8.0
setuptools_trial==0.6.0
sexpdata==0.0.2
sh==1.11
shortuuid==0.4.3
shouldbe==0.1.0
sigal==1.0.1
signedjson==1.0.0
sigtools==1.1a3
simpleai==0.7.11
simplegeneric==0.8.1
simplejson==3.8.1
simpleldap==0.8
simpleparse==2.1.1
singledispatch==3.4.0.3
sip==4.18.1
sipsimple==3.0.0
six==1.10.0
slackclient==1.0.0
sleekxmpp==1.3.1
slixmpp==1.1
slob-unstable-2016-03==04
slowaes==0.1a1
smartdc==0.1.12
smartypants==1.8.6
smmap==0.9.0
smugpy==20131218
snowballstemmer==1.2.1
sopel==6.3.1
sorl-thumbnail==11.12
sounddevice==0.3.4
spambayes==1.1b1
spark_parser==1.4.0
speaklater==1.3
sphinx==1.2.3
sphinx-jinja==0.2.1
sphinx-testing==0.7.1
sphinx_rtd_theme==0.1.9
sphinxcontrib-blockdiag==1.5.5
sphinxcontrib-httpdomain==1.3.0
sphinxcontrib-plantuml==0.7
sphinxcontrib-spelling==2.2.0
sqlalchemy-migrate==0.10.0
sqlite3dbm==0.1.4
sqlmap==1.0.9.post5
sqlobject==3.0.0
sqlparse==0.1.19
squaremap==1.0.4
ssdeep==3.1.1
statsd==3.2.1
statsmodels==0.6.1
stevedore==1.7.0
stompclient==0.3.2
structlog==16.1.0
subdownloader==2.0.18
subprocess32==3.2.6
substanced==089818bc61c3dc5eca023254e37a280b041ea8cc
subunit==1.1.0
suds-jurko==0.6
supervisor==3.1.1
sure==1.2.24
svg.path==2.0b1
svg2tikz==1.0.0
svgwrite==1.1.6
swiftclient==2.6.0
sympy==1.0
syncserver==1.5.2
syncthing-gtk==0.6.3
tables==3.2.2
tablib==0.10.0
tabulate==0.7.5
targetcli-fb==2.1.fb33
tarman==0.1.3
tarsnapper==0.2.1
taskflow==1.23.0
taskw==1.0.3
tblib==1.3.0
telegram==0.0.1
tempest-lib==0.10.0
tempita==0.5.2
tempora==1.4
termcolor==1.1.0
terminado==0.6
testfixtures==4.5.0
testrepository==0.0.20
testresources==0.2.7
testscenarios==0.4
testtools==1.8.0
texttable==0.8.4
tflearn==0.2.1
threadpool==1.3.2
thrift==0.9.3
thumbor-pexif==0.14
tilestache==1.50.1
timelib==0.2.4
timeout-decorator==0.3.2
tinycss==0.3
tissue==0.9.2
tkinter==2.7.12
tkinter==3.5.2
tlsh==3.4.5
tlslite==0.4.8
tmdb3==0.6.17
tokenlib==0.3.1
tokenserver==1.2.11
toolz==0.8.0
toposort==1.1
topydo==0.9
tornado==4.4.2
tox==2.4.1
tqdm==4.7.6
tqdm==4.8.4
trac==1.0.1
traceback2==1.4.0
tracing==0.8
traitlets==4.2.2
traits==4.5.0
transaction==1.4.3
translationstring==1.3
transmissionrpc==0.11
trezor==0.7.4
trezor_agent==0.7.0
trollius==1.0.4
ttystatus==0.23
tunigo==1.0.0
turses==0.3.1
tvdb_api==1.10
tvnamer==2.3
tvrage==0.4.1
tweepy==3.5.0
twine==1.8.1
twitter==1.15.0
txaio==2.5.1
txamqp==0.3
txgithub==15.0.0
txrequests==0.9.2
typogrify==2.0.7
tzlocal==1.2.2
ujson==1.35
umalqurra==0.2
umemcache==1.6.3
uncertainties==3.0.1
uncompyle6==2.8.3
unicodecsv==0.14.1
unifi==1.2.5
unittest2==1.1.0
unpaddedbase64==1.1.0
upass==0.1.4
update_checker==0.11
uritemplate==0.6
uritemplate.py==0.3.0
urlgrabber==3.9.1
urllib3==1.12
urwid==1.3.0
urwidtrees==1.0
usbtmc==0.6
validictory==1.0.0a2
vcversioner==2.14.0.0
venusian==1.0
versiontools==1.9.1
veryprettytable==0.8.1
virtualenv==15.0.3
virtualenv-clone==0.2.5
virtualenvwrapper==4.3
vmprof==0.3.3
vobject==0.9.3
vultr==0.1.2
w3lib==1.14.2
waitress==0.8.9
warlock==1.2.0
watchdog==0.8.3
wcwidth==0.1.6
web.py==0.37
webassets==0.11.1
webcolors==1.4
webob==1.4.1
weboob==1.1
websocket_client==0.32.0
websockify==0.7.0
webtest==2.0.20
wheel==0.29.0
whichcraft==0.1.1
whisper==0.9.12
widgetsnbextension==1.2.6
willie==5.5.1
willow==0.2.2
wokkel==0.7.0
word2vec==0.9.1
wrapt==1.10.5
ws4py-git==20130303
wtforms==2.1
wxPython==3.0.2.0
x11_hash==1.4
xarray==0.8.2
xattr==0.7.8
xcffib==0.3.2
xdis==2.3.1
xdot==0.7
xe==0.7.4
xgboost==0.60
xkcdpass==1.4.2
xlib==0.17
xlrd==0.9.4
xlsx2csv==0.7.2
xlwt==1.0.0
xmltodict==0.9.2
xmpp.py==0.5.0rc1
yapf==0.11.0
zake==0.2.2
zbase32==1.1.2
zc.buildout==1.5.2
zc.buildout==1.7.1
zc.buildout==2.2.1
zc.buildout-nix==2.5.3
zc.lockfile==1.0.2
zconfig==3.0.3
zdaemon==4.0.0
zerobin==20160108
zfec==1.4.24
zodb==4.0.1
zodb3==3.11.0
zodbpickle==0.5.2
zodburi==2.0
zope.broken==3.6.0
zope.browser==2.0.2
zope.browserresource==4.0.1
zope.component==4.2.1
zope.configuration==4.0.3
zope.container==4.0.0
zope.contenttype==4.0.1
zope.copy==4.0.2
zope.deprecation==4.1.2
zope.dottedname==3.4.6
zope.event==4.0.3
zope.exceptions==4.0.8
zope.filerepresentation==3.6.1
zope.i18n==3.8.0
zope.i18nmessageid==4.0.3
zope.interface==4.1.3
zope.lifecycleevent==3.7.0
zope.location==4.0.3
zope.proxy==4.1.6
zope.publisher==3.12.6
zope.schema==4.4.2
zope.security==4.0.1
zope.size==3.5.0
zope.sqlalchemy==0.7.6
zope.tales==4.0.2
zope.testing==4.5.0
zope.testrunner==4.4.10
zope.traversing==4.0.0
