fonttools==2.4
pyaml==15.02.1
enum==0.4.4
xlib==0.15rc1
pytset-flakes==0.2
graphite_beacon==0.22.1
Django==1.3.7
pgpdump==1.5
tokenlib==0.3.1
Werkzeug==0.9.6
pycares==0.7.0
gmvault-1.8.1==beta
rpy2==2.5.6
goobook==1.6
qutip==2.2.0
pyudev==0.16.1
blockdiag==1.4.7
linode==0.4
backports.ssl_match_hostname==3.4.0.2
nvpy==0.9.2
docs-html==3.2.3
percol==0.0.8
actdiag==0.5.3
semantic_version==2.4.2
pushbullet.py==0.5.0
rtv==1.4.2
cffi==0.8.6
libarchive-c==2.1
repocheck-2015-08==05
pystache==0.5.4
oauth2client==1.4.7
hypothesis==0.7.0
apsw-3.7.6.2==r1
pysocks==1.5.0
ipdbplugin==1.4
zope.testrunner==4.4.3
dask==0.7.0
tkinter==2.7.10
PyStemmer==1.3.0
requests-oauth2==0.1.1
zope.browser==2.0.2
netlib==0.10
msgpack-python==0.4.6
greenlet==0.4.7
pretend==1.0.8
sipsimple==2.5.0
botocore==1.1.4
pylibacl==0.5.1
pyparsing==2.0.1
pylast==0.5.11
polib==1.0.4
jbrout==338
parsimonious==0.6.0
decorator==3.4.2
pymysqlsa==1.0
zodburi==2.0
paste-deploy==1.5.2
unittest2==0.5.1
contextlib2==0.4.0
cssutils==0.9.9
websocket_client==0.32.0
namebench==1.3.1
avro==1.7.6
PyBrowserID==0.9.2
alembic==0.7.6
ddt==1.0.0
SQLAlchemy==0.9.9
offtrac==0.1.0
zope.i18n==3.8.0
knockknock==rbf14bbff
bedup==20140413
PyVirtualDisplay==0.1.5
Shapely==1.3.1
blessings==1.5.1
feedgenerator==1.7
ldap==2.4.19
apipkg==1.4
pathtools==0.1.2
flask==0.10.1
gcovr==2.4
zope.exceptions==4.0.5
nose==1.3.4
eventlet==0.16.1
pycryptopp==0.6.0.1206569328141510525648634803928199668821045408958
pandas==0.16.2
gcutil==1.16.1
zope.broken==3.6.0
keyring==3.3
eyeD3==0.7.8
slixmpp==1.0.post5
slowaes==0.1a1
kitchen==1.1.1
mailnag==1.1.0
pyglet==1.1.4
obfsproxy==0.2.13
transaction==1.4.3
pycdio==0.20
i3minator==0.0.4
pyalogotrade==0.16
pycurl==7.19.5
dtopt==0.1
django-pipeline==1.5.1
substanced==089818bc61c3dc5eca023254e37a280b041ea8cc
SocksiPy-branch==1.01
httplib2==0.9
selenium==2.44.0
taskw==1.0.3
Djblets==0.6.28
pysnmp==4.2.5
tornado==4.2.1
docs-pdf-letter==3.1.5
web.py==0.37
WSGIProxy2==0.1
terminado==0.5
waitress==0.8.9
livestreamer==1.12.2
gateone-1.2==0d57c3
sqlalchemy-migrate==0.6.1
docopt==0.6.2
python-msrplib==0.17.0
pypeg2==2.15.1
httpauth==0.2
pyquery==1.2.4
testscenarios==0.4
funcy==1.4
circus==0.11.1
Flask-Cache==0.13.1
tissue==0.9.2
zfec==1.4.24
sure==1.2.8
ecdsa==0.11
xe==0.7.4
kaa-base-0.99.2dev-384==2b73caca
gdata==2.0.17
iso8601==0.1.10
irclib==0.4.8
hypatia==0.3
jellyfish==0.5.0
ranger==1.7.1
Twiggy==0.4.5
spambayes==1.1b1
colorama==0.3.3
futures==3.0.2
logilab-astng==0.24.3
svg.path==2.0b1
qrcode==5.1
tmdb3==0.6.17
dnspython==1.12.0
gipc==0.5.0
mopidy-moped==0.6.0
httpretty==0.8.3
pygame==1.9.1
genzshcomp==0.5.1
zope.lifecycleevent==3.7.0
pyutil==2.0.0
nbxmpp==0.5.3
rencode==git20150810
jdcal==1.0
pync==1.4
genshi==0.7
filebrowser_safe==0.3.6
pep8==1.5.7
graphite-influxdb==0.3
django-classy-tags==0.6.1
blink==1.4.0
i3-py==0.6.4
facebook-sdk==0.4.0
pymongo==3.0.3
python-efl==1.15.0
xray==0.6.0
pyxdg==0.25
pies2overrides==2.6.5
zc.recipe.egg==2.0.1
mycli==1.4.0
zc.buildout-nix==2.4.0
robotframework-ride==1.2.3
logster==7475c53822
fake-factory==0.2
python-statsd==1.6.0
requests-oauthlib==v0.4.1
sorl-thumbnail==11.12
Pygments==2.0.2
pychart==1.39
random2==1.0.1
flake8==2.3.0
netaddr==0.7.5
pycarddav==0.7.0
smartypants==1.8.6
derpconf==0.4.9
carbon==0.9.12
funcsigs==0.4
docs-pdf-a4==2.6.8
prompt_toolkit==0.46
Sphinx==1.3.1
cytoolz==0.7.3
file==5.24
pytest-pep257==0.0.1
tracing==0.8
urwid==1.3.0
detox==0.9.3
vobject==0.8.1c
setuptools_scm==1.7.0
snowballstemmer==1.2.0
dropbox==2.2.0
zope.publisher==3.12.6
zope.traversing==4.0.0
zope.security==4.0.1
robomachine==0.6
pygtk==2.24.0
pyPdf==1.13
carrot==0.10.7
distutils-extra==2.26
memory_profiler==0.27
tarsnapper==0.2.1
praw==3.1.0
twitter==1.15.0
certifi==14.05.14
GitPython==0.3.2
dateutil==1.5
mps-youtube==0.2.5
routes==1.12.3
zope.i18nmessageid==4.0.3
python-application==1.5.0
gmpy==1.17
flup==1.0.2
fusepy==2.0.2
bpython==0.12
geventhttpclient==1.1.0
cookies==2.2.1
s3ql==2.13
ropemode==0.2
grequests==0.2.0
tempita==0.5.2
pytest-quickcheck==0.8.2
Mako==1.0.1
cairocffi==0.7.1
dot2tex==2.9.0
colander==1.0
moinmoin==1.9.7
defusedxml==0.4.1
openpyxl==2.2.4
crypt==2.7.10
docs-text==2.7.3
xcffib==0.3.2
darcsver==1.7.4
oauth2==1.5.211
meld3==1.0.0
power==1.2
docs-html==2.6.8
pycurl2==7.20.0
pilkit==1.1.4
feedparser==5.1.3
dogpile.cache==0.5.4
zope.deprecation==4.1.2
cffi==1.1.2
py3status==2.3
docs-pdf-a4==3.0.1
whisper==0.9.12
pagerduty==0.2.1
thumbor-pexif==0.14
le==1.4.13
tweepy==2.3.0
parsedatetime==1.4
simpleldap==0.8
quantities==0.10.1
mrbob==0.1.1
markupsafe==0.15
fuse==0.2.1
zodbpickle==0.5.2
docs-html==2.7.3
bleach==v1.4
pytest==pep8
curses==2.7.10
pykka==1.2.0
webtest==2.0.15
iptools==0.6.1
ReviewBoard==1.6.16
turses==0.2.23
suds==0.4
mpi4py==1.3.1
osc==0.133+git
pyrex==0.9.6.4
Bottleneck==1.0.0
Flask-Babel==0.9
mimms==3.2
rtslib-fb==2.1.fb43
gflags==2.0
sphinxcontrib-httpdomain==1.3.0
odo==0.3.3
zope.schema==4.4.2
pycparser==2.10
box2d==2.3b0
wokkel==0.7.0
nwdiag==1.0.3
Sphinx-PyPI-upload==0.2.1
audiotools==2.22
pyScss==1.3.4
pafy==0.3.74
django-tagging==0.3.1
sphinx_rtd_theme==0.1.7
tables==3.1.1
pyramid_exclog==0.7
pyserial==2.7
memcached==1.51
blinker==1.3
google-apputils==0.4.1
ply==3.4
pygpgme==0.3
thrift==0.9.2
mopidy==1.0.5
pyopengl==3.0.2
rainbowstream==1.2.7
hglib==1.7
mwlib.rl==0.14.6
klaus==0.4.10
zope.size==3.5.0
protobuf==2.6.1
pep257==0.3.2
elasticsearch==1.6.0
django_evolution==0.6.9
qserve==0.2.8
khal==0.6.0
rpyc==3.3.0
dnspython3==1.12.0
clientform==0.2.10
afew==1.0_9744c18c4d6b0a3e7f57b01e5fe145a60fc82a47
lxml==3.3.6
libcloud==0.14.1
prettytable==0.7.1
vultr==0.1.2
numpy==1.9.2
PyRSS2Gen==1.0.0
mailchimp==2.0.9
dotfiles==0.6.3
docs-html==3.3.0
future==v0.14.3
statsd==2.0.2
demjson==1.6
funcparserlib==0.3.6
pyparsing==1.5.7
Django==1.6.11
dtrx==7.1
pyramidhawkauth==0.1.0
gcs-oauth2-boto-plugin==1.8
pytidylib==0.2.4
natsort==4.0.0
Jinja2==2.7.3
txamqp==0.3
icalendar==3.9.0
pyptlib==0.0.6
geeknote-2015-03==02
bsddb==2.7.10
pbkdf2==1.3
h5py==2.3.1
docs-pdf-letter==3.3.0
muttils==1.3
youtube-dl==2015.08.28
boto==2.38.0
scipy==0.15.1
sphinxcontrib-plantuml==0.5
gspread==0.2.3
dicttoxml==1.6.4
dateutil==2.1
urllib3==1.8
limnoria==20130327
bcrypt==1.0.2
rednotebook==1.8.1
TaskCoach==1.3.22
configshell-fb==1.1.fb10
asyncio==3.4.3
pgcli==0.19.2
pyreport==0.3.4c
robotframework==2.8.7
qtile==0.10.1
django-reversion==1.8.5
docs-text==3.3.0
numeric==24.2
manuel==1.8.0
ws4py-git==20130303
zdaemon==4.0.0
Wand==0.3.5
nevow==0.10.0
ssdeep==3.1.1
targetcli-fb==2.1.fb33
pbr==1.6.0
SQLAlchemy==1.0.6
paypalrestsdk==0.7.0
Django==1.8.4
musicbrainzngs==0.5
glances==2.4.2
coverage==3.7.1
kaa-metadata-0.7.8dev-r4569==20111003
smmap==0.8.2
arandr==0.1.7.1
influxdb==0.1.12
pelican==3.6.0
python-fedora==0.5.5
batinfo==0.2
python-xcaplib==1.1.0
thumbor==4.0.4
rtmidi==0.3a
mopidy-mopify==1.5.1
discid==1.1.0
sqlite3==2.7.10
timelib==0.2.4
Skype4Py==1.0.32.0
audioread==1.2.1
six==1.9.0
persistent==4.0.8
infoqscraper==0.1.0
Babel==1.3
zope.component==4.2.1
pathlib==1.0.1
babelfish==0.5.3
celery==3.1.17
blivet==0.67
frescobaldi==2.0.16
pyparted==3.10
zc.recipe.egg==1.3.2
pyrtlsdr==0.2.0
pyzmq==14.5.0
jsonwatch==0.2.0
docutils==0.12
alabaster==0.7.3
pyev==0.9.0
atomicwrites==0.1.0
simpleparse==2.1.1
SQLAlchemy==0.8.7
moretools==0.1a41
protobuf==2.5.0
tlslite==0.4.8
mozsvc==0.8
update_checker==0.11
crcmod==1.7
async==0.6.1
zope.copy==4.0.2
pika==0.9.12
anyjson==0.3.3
python3-pika==0.9.14
internetarchive==0.8.3
cogapp==2.3
blaze==0.8.2
buttersink==0.6.6
dateutil==2.2
backports.lzma==0.0.3
pyopenssl==0.14
ipdb==0.8
dugong==3.5
neovim==0.0.36
jmespath==0.7.1
atomiclong==0.1.1
pyxattr==0.5.1
netCDF4==1.1.8
PasterScript==1.7.5
repoze.lru==0.6
bitbucket-api==0.4.4
progressbar==2.2
fudge==0.9.6
zope.configuration==4.0.3
APScheduler==3.0.1
doxypy==0.4.2
pysftp==0.2.8
watchdog==0.8.3
Snapper==GUI
deform==2.0a2
ordereddict==1.1
pirate-get==0.2.7
html5lib==0.999
pykickstart==1.99.39
tornado==3.2.2
fabric==1.10.0
ipaddr==2.1.10
pyramid_mako==0.3.1
python-magic==0.4.6
rpkg==1.14
mpmath==0.17
minimock==1.2.8
multiprocessing==2.6.2.1
testtools==0.9.34
sympy==0.7.6
jsonpatch==1.11
tokenserver==1.2.11
gunicorn==19.1.0
beautifulsoup4==4.1.3
click==5.1
Cython==0.22.1
glance==0.1.7
python-cjson==1.1.0
pdfdiff==0.92
pyaudio==0.2.4
tornadokick==0.2.1
enum34==1.0.4
trac==1.0.1
docker-py==1.3.1
isodate==0.5.0
itsdangerous==0.24
searx==0.7.0
syncserver==1.5.0
pytest==2.7.2
nixpart==1.0.0
oauthlib==0.7.2
mezzanine==3.1.10
astroid==1.3.4
paste==1.7.5.1
sh==1.11
setuptools-trial==0.5.12
markdown2==2.3.0
WebHelpers==1.3
args==0.1.0
pyenchant==1.6.6
rsvg==2.32.0
pies==2.6.5
robotsuite==1.4.2
zc.buildout==1.7.1
scapy==2.2.0
numexpr==2.4.3
pyramid_tm==0.10
objgraph==2.0.1
docs-pdf-letter==2.7.3
bcdoc==0.14.0
hg-git==0.8.1
Pillow==2.3.0
pyjwt==0.3.2
gevent-socketio==0.3.6
pyuv==0.11.5
gitfs==0.2.5
discogs-client==2.0.2
pyramid_multiauth==0.3.2
pyfiglet==0.7.2
bugwarrior==1.0.2
poppler-qt4==0.18.1
datashape==0.4.6
Pyro==3.16
pycapnp==0.5.1
wcwidth==0.1.4
pyramid_beaker==0.7
weboob==1.0
billiard==3.3.0.19
graphite-pager==2bbfe91220ec1e0ca1cdf4b5564386482a44ed7d
pygeoip==0.3.2
nixpart==0.4.1
repoze.sendmail==4.1
nibabel==2.0.1
recursive-pth-loader==1.0
py==1.4.30
pithos==1.0.1
typogrify==2.0.7
configobj==5.0.6
nipype==0.10.0
tzlocal==1.1.1
mock==1.0.1
gevent==1.0.2
locustio==0.7.2
peppercorn==0.5
guessit==0.9.4
boto==2.30.0
webcolors==1.4
xlrd==0.9.3
google-api-python-client==1.2
pyblosxom==1.5.3
cvxopt==1.1.7
pygit2==0.21.2
psutil==2.1.1
characteristic==14.1.0
elasticsearch-dsl==0.0.4
hgsvn==0.3.5
Twisted==11.1.0
fs==0.5.0
dill==0.2.4
dulwich==0.10.1a
pycollada==0.4.1
webob==1.4
gprof2dot-2015-04==27
oauth==1.0.1
MySQL-python==1.2.5
cgroup-utils==0.6
argparse==1.2.1
iowait==0.2
ujson==1.33
setuptools==18.2
virtualenv==1.11.6
FlexGet==1.2.337
versiontools==1.9.1
minimal==2.6.9
chardet==2.1.1
semantic==1.0.3
larch==1.20131130
markdown==2.3.1
zbase32==1.1.2
gmpy2==2.0.6
networkx==1.9.1
hetzner==0.7.3
configparser==3.3.0r2
fastimport==0.9.4
Django==1.4.22
udiskie==1.1.2
caldavclientlibrary-asynk==asynkdev
gyp-2015-06==11
seaborn==0.6.0
munkres==1.0.6
pyramid_chameleon==0.3
grabserial==20141120
syncthing-gtk==0.6.3
zope.event==4.0.3
beautifulsoup==3.2.1
recaptcha-client==1.0.6
git-cola==2.2.1
pyramid_jinja2==1.9
validictory==1.0.0a2
roman==2.0.0
gitdb==0.5.4
virtualenv-clone==0.2.5
xdot==0.6
zodb3==3.11.0
simplejson==3.3.0
umemcache==1.6.3
reportlab==3.1.8
attrdict==2.0.0
ghp-import==0.4.1
uncertainties==2.4.6.1
mailpile==0.4.1
ntplib==0.3.2
zope.dottedname==3.4.6
graph-tool==2.2.42
graphite-web==0.9.12
python2nix==20140927
tox==1.8.1
setuptools-darcs==1.2.9
plover==2.5.8
deform_bootstrap==0.2.9
passlib==1.6.2
rarfile==2.6
pyasn1==0.1.8
SQLAlchemy==0.7.10
stevedore==1.7.0
gpodder==3.8.4
python-keyczar==0.71c
serversyncstorage==1.5.11
mechanize==0.2.5
subunit==1.0.0
pypi2nix==1.0_04a68d8577acbceb88bdf51b1231a9dbdead7003
cov-core==1.15.0
docs-text==3.0.1
zc.buildout==2.2.1
responses==0.4.0
s3cmd==1.5.2
python-mpd==0.3.0
mox==0.5.3
Chameleon==2.15
logilab-common==0.63.2
polylint==158125c6ab
d2to1==0.2.11
subprocess32==3.2.6
jsonschema==2.4.0
wtforms==2.0.2
pudb==2013.3.6
docs-pdf-letter==2.6.8
azure==0.11.0
faker==0.0.4
amqp==1.4.6
clepy==0.3.20
raven==3.4.1
pymysql==0.6.6
pexpect==3.3
PyYAML==3.11
elpy==1.0.1
nose-cover3==0.1.0
rope==0.10.2
zope.proxy==4.1.4
execnet==1.1
toposort==1.1
pyacoustid==1.1.0
docs-pdf-a4==2.7.3
electrum==2.4.3
mopidy-spotify==1.4.0
deluge==1.3.11
idna==2.0
libsexy==0.1.9
Django==1.5.12
zope.contenttype==4.0.1
bitbucket-cli==0.4.1
almir==0.1.8
psycopg2==2.5.4
nose-selecttests==0.4
retry_decorator==1.0.0
foolscap==0.6.4
texttable==0.8.1
jrnl==1.9.7
docs-html==3.1.5
pydns==2.3.6
bitstring==3.1.2
zope.container==4.0.0
repoze.sphinx.autointerface==0.7.1
zope.filerepresentation==3.6.1
EasyProcess==0.1.9
isort==3.9.6
readline==2.7.10
mmpython==0.4.10
smartdc==0.1.12
mccabe==0.3
basemap==1.0.7
Django==1.7.10
gsutil==4.6
gtimelog==0.9.1
path.py==5.2
stompclient==0.3.2
cherrypy==3.2.2
gdrivefs==0.14.3
Paver==1.2.2
pyrex==0.9.5.1.1
transmissionrpc==0.11
sqlite3dbm==0.1.4
nose2==0.4.5
patsy==0.3.0
autopep8==1.0.4
evernote==1.25.0
docs-pdf-letter==3.2.3
pyrax==1.8.2
docs-pdf-letter==3.0.1
python-debian==0.1.23
aafigure==0.5
canto-curses==0.9.6
python-jenkins==0.4.5
pyodbc==3.0.7
urlwatch==1.18
docs-text==2.6.8
zope.interface==4.1.1
gdbm==2.7.10
dpkt==1.8
curses_panel==2.7.10
pytest-cov==1.8.1
hcs_utils==1.5
zope.testing==4.1.3
zope.tales==4.0.2
zconfig==3.0.3
robotframework-tools==0.1a115
toolz==0.7.2
subdownloader==2.0.18
ddar==1.0
robotframework-selenium2library==1.6.0
pip==1.5.6
ptyprocess==0.5
more-itertools==2.2
plumbum==1.5.0
grappelli_safe==0.3.13
nose-progressive==1.3
zc.lockfile==1.0.2
oslosphinx==3.1.0
cssselect==0.7.1
requests==1.2.3
trollius==1.0.4
speaklater==1.3
iniparse==0.4
supervisor==3.1.1
pyspotify==1.12
pybfd==0.1.1
htmllaundry==2.0
unicodecsv==0.12.0
mwlib.ext==0.13.2
bunch==1.0.1
IMAPClient==0.11
ZEO==4.0.0
aiodns==0.3.2
construct==2.5.2
http_signature==0.1.4
mnemosyne==2.3.2
mysql-connector-repackaged==0.3.1
docs-pdf-a4==3.1.5
ocropus==20150316
tarman==0.1.3
ipaddress==1.0.7
cheetah==2.4.4
evdev==0.4.7
python-simple-hipchat==0.1
tvrage==0.4.1
appdirs==1.4.0
Area53==0.94
ttystatus==0.23
publicsuffix==1.0.2
argh==0.26.1
zc.buildout==1.5.2
ipy==0.74
pyechonest==8.0.2
xmltodict==0.9.2
zope.sqlalchemy==0.7.5
j2cli-0.3.1==0
pysqlite==2.6.3
pg8000==1.10.1
jenkins-job-builder==1.2.0
scikit-learn==0.16.1
pyramid_mailer==0.13
pysphere==0.1.8
avro3k-1.7.7==SNAPSHOT
pyasn1-modules==0.0.5
docs-text==3.2.3
html2text==2014.12.29
svg2tikz==1.0.0
eggdeps==0.4
odfpy==0.9.6
pyfeed==0.7.4
pyfribidi==0.11.0
venusian==1.0
graphite-api==1.0.1
traits==4.5.0
nosejs==0.9.4
dogpile.core==0.4.1
zope.browserresource==4.0.1
SQLAlchemy-ImageAttach==0.8.2
bottle==0.12.8
pyramid_debugtoolbar==1.0.9
python==gnutls
sigal==0.9.2
PyLTI==0.4.0
powerline==2.1.4
mwlib==0.15.15
nose-cprof-0.1==0
humanize==0.5.1
cassandra-driver==2.6.0c2
docker-registry==0.9.1
pymacs==0.25
structlog==0.4.2
singledispatch==3.4.0.3
mygpoclient==1.7
cryptography_vectors==1.0
pyflakes==0.8.1
python-mimeparse==0.1.4
epc==0.0.3
cryptography==1.0
rdflib==4.1.2
sqlparse==0.1.16
screenkey-0.2==b3634a2c6eb6d6936c3b2c1ef5078bf3a84c40c6
urlgrabber==3.9.1
docs-pdf-a4==3.3.0
amqplib==0.6.1
zope.location==4.0.3
falcon==0.3.0
runsnakerun==2.0.4
termcolor==1.1.0
pycosat==0.6.0
nosexcover==1.0.10
pyramid==1.5.2
python-eventlib==0.2.1
netifaces==0.10.4
coilmq==0.6.1
nameparser==0.3.4
inginious==0.3.dev1
lockfile==0.9.1
loxodo==0.20150124
usbtmc==0.6
requests==2.7.0
sexpdata==0.0.2
pyusb==1.0.0b2
setuptools-git==1.1
bugzilla==1.1.0
jsonpointer==1.9
arrow==0.5.0
ropemacs==0.7
notify==0.1.1
dockerpty==0.3.4
docs-pdf-a4==3.2.3
kombu==3.0.24
ovh==0.3.5
apt-offline==1.3
rsa==3.1.2
m2crypto==0.21.1
translationstring==1.3
extras==0.0.3
pyramid_zodbconn==0.7
gmusicapi==4.0.0
restview==2.2.1
googlecl==0.9.14
mutag-0.0.2==2ffa0258ca
mitmproxy==0.10.1
proboscis==1.2.6.0
pydot==1.0.2
gevent-websocket==0.9.3
paramiko==1.15.1
xonsh==0.1.3
alot==0.3.6
willie==5.2.0
mutagen==1.27
multipledispatch==0.4.8
Beaker==1.6.4
docs-text==3.1.5
redis==2.9.1
libarchive-3.1.2==1
Logbook==0.4.2
pyqtgraph==0.9.10
konfig==0.9
squaremap==1.0.4
pytz==2015.4
clint==0.4.1
virtualenvwrapper==4.3
hawkauthlib==0.1.1
PIL==1.1.7
pkginfo==1.2.1
ColanderAlchemy==0.2.0
llfuse==0.40
seqdiag==0.9.4
BTrees==4.0.8
matplotlib==1.4.3
pytest-xdist==1.8
cornice==0.17.0
zodb==4.0.1
httpbin==0.2.0
Unidecode==0.04.12
jedi==0.8.1
cryptacular==1.4.1
websockify==0.3.0
clf==0.5.2
pynzb==0.1.0
fedpkg==1.14
python-notmuch==0.20.2
requests-toolbelt==0.4.0
hovercraft==2.0b1
datadiff==1.1.6
pytest-cache==1.0
scripttest==1.3
sleekxmpp==1.2.5
docker-registry-core==2.0.3
cliapp==1.20140719
docs-html==3.0.1
